.section--hero {
  display: flex;
  background-color: $hero-background;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container--hero {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.container__hero-title {
  font-family: $fontRoboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container__hero-button {
  font-family: $fontRoboto;
  background-color: $accent;
  color: $background;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  &:hover,
  &:focus,
  &:active {
    background-color: $accent;
    color: $background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
