.foot {
  background-color: $hero-background;
  padding-top: 60px;
  padding-bottom: 60px;
}

.basement--direction {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.foot-container {
  display: flex;
  flex-direction: column;
  width: 231px;
}

.foot-container__logo {
  margin-bottom: 20px;
  justify-content: baseline;
  color: $accent;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.foot-container__logo-text {
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $background;
}
