.section-business {
  padding-top: 0;
}

.container-business {
  flex-direction: column;
}

.container__business-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.container__business-list {
  display: flex;
  justify-content: center;
  line-height: 0;
}

.container__business-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container__business-subtitle {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $background;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.container__business-item {
  position: relative;
  list-style: none;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .section-business {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .container__business-list {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}
