.container--direction {
  flex-direction: column;
}

.container__clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.clients-list__items {
  display: flex;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.clients-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  cursor: pointer;
  border: 1px solid $icon-unactive;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: $icon-unactive;
  transition-property: fill, border-color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    fill: $accent;
    border: 1px solid $accent;
  }
}
