.menu-toggle {
  background-color: $background;
  transition-property: color, background-color, fill;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:focus,
  &:hover,
  &:active {
    fill: $accent;
  }
  cursor: pointer;
  .icon-cross {
    display: none;
  }
}

.menu-toggle .is-open {
  .icon-cross {
    display: block;
  }
}

.menu-toggle .is-open {
  .icon-menu {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px 40px;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: $background;
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: $cubic;
    transform: translateY(-200%);
    z-index: 1;
  }
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-toggle-close {
  padding: 0;
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  border: none;
  cursor: pointer;
  background-color: $background;
  .menu-button-icon {
    border-radius: 50%;
    transition-property: color, background-color, fill;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;
    &:hover,
    &:focus,
    &:active {
      fill: $accent;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.menu-navigation-list {
  list-style: none;
}

.menu-navigation-list__item {
  margin-bottom: 32px;
  &:last-child {
    margin: 0;
  }
}

.menu-navigation-list__link {
  display: block;
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $main-h2h3;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.menu-navigation-list__link--current {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $accent;
  letter-spacing: 0.02em;
}

.menu-contacts-list {
  list-style: none;
  margin-bottom: 64px;
}

.menu-contacts-list__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu-contacts-list__link--phone-number {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.1764;
  letter-spacing: 0.02em;
  color: $main-text;
  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.menu-contacts-list__link--email {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
  color: $main-text;
  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-social-list__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;
  &:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}

.menu-social-list__link {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: 0.02em;
  color: $accent;
  transition-property: color, background-color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus,
  &:active {
    color: $main-text;
  }
}

.navigation__logo--menu {
  display: flex;
  vertical-align: baseline;
  color: $accent;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation__name--menu {
  color: $logo-text;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
}

.menu-toggle {
  display: flex;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.header-box {
  border-bottom: 1px solid $header-border;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  display: flex;
  align-items: center;
  color: $accent;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  &:focus {
    color: $accent;
  }
}

.navigation__name {
  color: $logo-text;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-list__item {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

.navigation-list__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-h2h3;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color, background-color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  position: relative;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.navigation-list__link--current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $accent;
  text-decoration: none;
  transition: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    color: $accent;
  }
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 96%;
  }
}

.contacts-list {
  display: flex;
}

.contacts-list__items {
  display: flex;
}

.contacts-list__envelope {
  margin-right: 10px;
  fill: currentColor;
  align-self: center;
}

.contacts-list__smartphone {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.contacts-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-text;
  transition: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    color: $accent;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--mobile {
    height: 100%;
    width: 480px;
  }
  .menu-contacts-list__link--phone-number {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .navigation__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu-wrapper {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .container-tablet {
    width: 768px;
    display: flex;
    justify-content: space-between;
  }
  .container-desktop {
    display: flex;
  }
  .header-box-tablet {
    display: flex;
    justify-content: space-between;
  }
  .contacts-list-tablet {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
  }

  .contacts-list__items {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts-list__link--mail {
    padding-top: 21px;
  }

  .contacts-list__link--phone {
    padding-bottom: 21px;
  }

  .menu-contacts-list__link--phone-number {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-wrapper {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .container-desktop {
    display: flex;
    width: 1200px;
  }
  .contacts-list-tablet {
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .navigation__logo {
    margin-right: 90px;
  }

  .navigation-list {
    margin-right: 292px;
  }
  .contacts-list__items {
    padding: 32px 0;
    margin-left: 30px;
  }
  .menu-contacts-list__link--phone-number {
    font-size: 34px;
  }
}
