.header-box {
  border-bottom: 1px solid $header-border;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  color: $accent;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 24px 0;
}

.navigation__name {
  color: $logo-text;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation-list__item {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}

.navigation-list__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-h2h3;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color, background-color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  position: relative;
  &:hover,
  &:focus {
    color: $accent;
  }
}

.navigation-list__link--current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $accent;
  text-decoration: none;
  transition: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    color: $accent;
  }
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 96%;
  }
}

.contacts-list {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-list__envelope {
  margin-right: 10px;
  fill: currentColor;
  align-self: center;
}

.contacts-list__smartphone {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.contacts-list__items {
  display: flex;
  align-content: center;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.contacts-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-text;
  padding: 32px 0;
  transition: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    color: $accent;
  }
}
