.hero-mobile {
  display: flex;
  background-color: $hero-background;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-mobile {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile-hero@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero-mobile {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-mobile {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet-hero@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero-mobile {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/pc-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-mobile {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/pc-hero@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-mobile {
    min-width: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .container__hero-button {
    cursor: pointer;
  }
  .container__hero-title {
    font-size: 44px;
    line-height: 1.3636;
  }
}

.container__hero-title {
  max-width: 360px;
  margin: 0 auto;
  font-family: $fontRoboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background;
  margin-bottom: 30px;
  text-align: center;
}

.container__hero-button {
  font-family: $fontRoboto;
  background-color: $accent;
  color: $background;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:hover,
  &:focus,
  &:active {
    background-color: $accent;
    color: $background;
  }
}

// @media screen and (min-width: 480px) and (max-width: 767px) {
//   .hero-mobile {
//     width: 480px;
//   }
// }
