// .projects-list {
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
//   margin-right: auto;
//   margin-left: auto;
// }

// .projects-list__item {
//   display: block;
//   border-bottom: 1px solid $projects-border;
//   margin-bottom: 30px;
//   &:last-child {
//     margin-bottom: 0;
//   }

//   .projects-list__link {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     text-decoration: none;
//     color: $main-h2h3;
//     transition-property: box-shadow;
//     transition-duration: $transition-time;
//     transition-timing-function: $cubic;
//     &:focus,
//     &:hover {
//       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//         1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
//   }

//   .projects-list__thumb {
//     position: relative;
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
//   }

//   .projects-list__overlay {
//     display: block;
//     position: absolute;
//     overflow-y: auto;
//     scrollbar-color: $sroll-color1 $sroll-color2;
//     scrollbar-width: thin;
//     width: 100%;
//     height: 100%;
//     left: 0;
//     top: 0;
//     opacity: 0;
//     background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
//     transition-property: transform, opacity;
//     transform: translateY(100%);
//     transition-duration: $transition-time;
//     transition-timing-function: $cubic;
//     .projects-list__link:focus &,
//     .projects-list__link:hover & {
//       transform: translateY(0);
//       opacity: 1;
//       overflow-y: auto;
//     }
//     &::-webkit-scrollbar {
//       width: 12px;
//     }
//     &::-webkit-scrollbar-track {
//       background-color: $sroll-color2;
//       border-radius: 50px;
//     }
//     &::-webkit-scrollbar-thumb {
//       border-radius: 50px;
//       border: 1px solid transparent;
//       background-clip: content-box;
//       background-color: $sroll-color3;
//     }
//   }

//   .projects-list__overlay--text {
//     font-size: 18px;
//     line-height: 1.55;
//     letter-spacing: 0.03em;
//     padding: 63px 24px;
//     color: $background;
//   }

//   .projects-list__meta {
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//     width: 100%;
//     // padding: 20px 24px;
//     overflow: hidden;
//     border-bottom: 1px solid $header-border;
//     border-left: 1px solid $header-border;
//     border-right: 1px solid $header-border;
//   }

//   .projects-list__subtitle {
//     display: block;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     margin-bottom: 4px;
//   }

//   .projects-list__text {
//     display: block;
//     font-size: 16px;
//     line-height: 1.87;
//     color: $main-text;
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .projects-list__item {
//     margin-bottom: 0;
//     flex-basis: calc((100% / 2) - 30px);
//     margin: 15px;
//   }
//   .projects-list {
//     width: 768px;
//     margin: -15px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .projects-list {
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     margin: -15px;
//   }
//   .projects-list__item {
//     margin-bottom: 0;
//     flex-basis: calc((100% / 3) - 60px);
//     margin: 15px;
//   }
// }

.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.projects-list__meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 24px;
  overflow: hidden;
  border-bottom: 1px solid $header-border;
  border-left: 1px solid $header-border;
  border-right: 1px solid $header-border;
}

.projects-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list__text {
  font-size: 16px;
  line-height: 1.87;
  color: $main-text;
}

.projects-list__item {
  display: block;
  border-bottom: 1px solid $projects-border;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.projects-list__link {
  display: block;
  text-decoration: none;
  color: $main-h2h3;
  transition-property: box-shadow;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-list__overlay {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transition-property: transform, opacity;
  transform: translateY(100%);
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  .projects-list__link:focus &,
  .projects-list__link:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}
.projects-list__overlay--text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: $background;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list__link {
    display: flex;
    flex-direction: column;
  }
  .projects-list__item {
    margin-bottom: 0;
    flex-basis: calc((100% / 2) - 30px);
    margin: 15px;
  }
  .projects-list {
    width: 768px;
    margin: -15px;
  }
  .projects-list__meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    margin-left: auto;
    margin-right: auto;
    margin: -15px;
  }
  .projects-list__item {
    margin-bottom: 0;
    flex-basis: calc((100% / 3) - 30px);
    margin: 15px;
  }
}
