.container-portfolio {
  max-width: 480px;
}

.container__portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters-list {
  max-width: 362px;
  background-color: $background;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 0;
  margin-bottom: 40px;
  list-style: none;
}

.filters-list__items {
  margin-right: 8px;
  margin-bottom: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.filters-list__button {
  font-family: $fontRoboto;
  background-color: $section4-bckgnd;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &--active {
    color: $background;
    background-color: $accent;
    transition-property: box-shadow;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;
  }
  &:hover,
  &:focus,
  &--active {
    color: $background;
    background-color: $accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 768px) {
  .container-portfolio {
    min-width: 768px;
  }
  .filters-list {
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 611px;
    margin-right: auto;
    margin-left: auto;
  }
  .filters-list__items {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filters-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}
