.section--bgcolor {
  background-color: $section4-bckgnd;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container-team {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.container__team-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785em;
  margin-bottom: 30px;
}

.container__team-item {
  display: block;
  list-style: none;
  background-color: $section4-bckgnd;
}

.container__team-text {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container__team-subtitle {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.container__list-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $main-text;
  margin-bottom: 16px;
}

.container__team-socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container__team-icons {
  align-self: center;
}

.container__social-items {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.container__social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: $icon-unactive;
  color: $background;
  border-radius: 50%;
  transition-property: background-color, fill, border-radius;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    background-color: $accent;
    fill: currentColor;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .container__team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .container__team-item {
    flex-basis: calc((100% / 2) - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    .container__team-list {
      display: flex;
      flex-wrap: wrap;
    }

    .container__team-item {
      flex-basis: calc((100% / 4) - 30px);
      margin: 15px;
    }
  }
}
