.container {
  display: block;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
