.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms, visibility 350ms;
  pointer-events: visible;
}

.backdrop.is-hidden .modal {
  transform: scale(0.01) translate(100%, 20%);
}

.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: $background;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 350ms;
  transform: scale(1) translate(-50%, -50%);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $background;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill, border;
  transition-duration: 350ms;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.modal__icon-close {
  display: block;
  fill: $main-h2h3;
  transition-property: fill;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;
  .modal__close-button:hover &,
  .modal__close-button:focus & {
    fill: $accent;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
