.menu-toggle {
  .icon-cross {
    display: none;
  }
  &:focus,
  &:hover,
  &:active {
    fill: $accent;
  }
}

.menu-toggle .is-open {
  .icon-cross {
    display: block;
  }
}

.menu-toggle .is-open {
  .icon-menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px 40px;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: $background;
  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle-close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  border: none;
  .menu-button-icon {
    &:hover,
    &:focus {
      fill: $accent;
    }
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.menu-navigation-list {
  list-style: none;
}

.menu-navigation-list__item {
  padding: 25px 0;
}

.menu-navigation-list__link {
  display: block;
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $main-h2h3;
  letter-spacing: 0.02em;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.menu-navigation-list__link--current {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $accent;
  letter-spacing: 0.02em;
}

.menu-contacts-list {
  list-style: none;
  margin-bottom: 64px;
}

.menu-contacts-list__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu-contacts-list__link--phone-number {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;
  color: $accent;
}

.menu-contacts-list__link--email {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
  color: $main-text;
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-social-list__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;
  &:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}

.menu-social-list__link {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: 0.02em;
  color: $accent;
}

.navigation__logo--menu {
  display: flex;
  vertical-align: baseline;
  color: $accent;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation__name--menu {
  color: $logo-text;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
}

.menu-toggle {
  display: flex;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.container--mobile {
  display: flex;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.header-box {
  border-bottom: 1px solid $header-border;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  vertical-align: baseline;
  color: $accent;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation__name {
  color: $logo-text;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
}

@media screen and (max-width: 479px) {
  .mobile-menu-wrapper {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--mobile {
    height: 100%;
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .navigation__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu-wrapper {
    display: none;
  }
}
