@media screen and (max-width: 479px) {
  .container__feature-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .feature-list {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-list__container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: $section4-bckgnd;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .feature-list__icon-place {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .feature-list__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .feature-list__text {
    font-size: 14px;
    line-height: 1.71;
    color: $main-text;
  }

  .feature-list__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container__feature-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .feature-list {
    display: block;
    list-style: none;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-list__container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: 120px;
    background-color: $section4-bckgnd;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .feature-list__icon-place {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .feature-list__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .feature-list__text {
    font-size: 14px;
    line-height: 1.71;
    color: $main-text;
  }

  .feature-list__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
