@media screen and (max-width: 480px) {
  .section--bgcolor {
    background-color: $section4-bckgnd;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .container--direction {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .container__team-title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785em;
    margin-bottom: 30px;
  }

  .container__team-item {
    display: block;
    list-style: none;
    margin-bottom: 30px;
    background-color: $section4-bckgnd;
    &:last-child {
      margin-right: 0;
    }
  }

  .container__team-img--desktop {
    display: none;
  }

  .container__team-img--mobile {
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .container__team-text {
    padding-top: 30px;
    padding-bottom: 24px;
    background-color: $background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .container__team-subtitle {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    text-align: center;
  }

  .container__list-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $main-text;
    margin-bottom: 16px;
  }

  .container__team-socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .container__team-icons {
    align-self: center;
  }

  .container__social-items {
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .container__social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: $icon-unactive;
    color: $background;
    border-radius: 50%;
    transition-property: background-color, fill, border-radius;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;
    &:hover,
    &:focus {
      background-color: $accent;
      fill: currentColor;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .section--bgcolor {
    background-color: $section4-bckgnd;
    display: block;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  .container--direction {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .container__team-title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785em;
    margin-bottom: 30px;
  }

  .container__team-item {
    display: block;
    list-style: none;
    margin-bottom: 30px;
    background-color: $section4-bckgnd;
    &:last-child {
      margin-right: 0;
    }
  }

  .container__team-img--desktop {
    display: none;
  }

  .container__team-img--mobile {
    display: block;
    width: 450px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .container__team-text {
    padding-top: 30px;
    padding-bottom: 24px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    background-color: $background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .container__team-subtitle {
    display: block;
    font-weight: 500;
    width: 450px;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    text-align: center;
  }

  .container__list-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $main-text;
    margin-bottom: 16px;
    width: 450px;
  }

  .container__team-socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .container__team-icons {
    align-self: center;
  }

  .container__social-items {
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .container__social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: $icon-unactive;
    color: $background;
    border-radius: 50%;
    transition-property: background-color, fill, border-radius;
    transition-duration: $transition-time;
    transition-timing-function: $cubic;
    &:hover,
    &:focus {
      background-color: $accent;
      fill: currentColor;
    }
  }
}
