@media screen and (max-width: 479px) {
  .navigation--mobile {
    display: flex;
    justify-content: space-between;
  }

  .navigation-list {
    display: none;
  }

  .contacts-list {
    display: none;
  }

  .header-box {
    border-bottom: 1px solid $header-border;
  }

  .navigation__logo {
    vertical-align: baseline;
    color: $accent;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation__name {
    color: $logo-text;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
  }

  .mobile-button {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--mobile {
    width: 480px;
  }

  .navigation--mobile {
    display: flex;
    justify-content: space-between;
  }

  .navigation-list {
    display: none;
  }

  .contacts-list {
    display: none;
  }

  .header-box {
    border-bottom: 1px solid $header-border;
  }

  .navigation__logo {
    vertical-align: baseline;
    color: $accent;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation__name {
    color: $logo-text;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
  }

  .mobile-button {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
