.menu-toggle {
  .icon-cross {
    display: none;
  }
}

.menu-toggle .is-open {
  .icon-cross {
    display: block;
  }
}

.menu-toggle .is-open {
  .icon-menu {
    display: none;
  }
}

.menu-container {
  position: relative;
  display: block;
  width: 480px;
  padding: 48px 40px;
}

.menu-toggle-close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  border: none;
  .menu-button-icon {
    &:hover,
    &:focus {
      fill: $accent;
    }
  }
}

.menu-navigation-list {
  list-style: none;
  margin-bottom: 302px;
}

.menu-navigation-list__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu-navigation-list__link {
  display: block;
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $main-h2h3;
  letter-spacing: 0.02em;
  &:hover,
  &:focus,
  &:active {
    color: $accent;
  }
}

.menu-navigation-list__link--current {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $accent;
  letter-spacing: 0.02em;
}

.menu-contacts-list {
  list-style: none;
  margin-bottom: 64px;
}

.menu-contacts-list__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu-contacts-list__link--phone-number {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;
  color: $accent;
}

.menu-contacts-list__link--email {
  text-decoration: none;
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
  color: $main-text;
}

.menu-social-list {
  display: flex;
  list-style: none;
}

.menu-social-list__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
  &:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .navigation--mobile {
    display: flex;
    justify-content: space-between;
  }

  .navigation-list {
    display: none;
  }

  .contacts-list {
    display: none;
  }

  .header-box {
    border-bottom: 1px solid $header-border;
  }

  .navigation__logo {
    vertical-align: baseline;
    color: $accent;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation__name {
    color: $logo-text;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
  }

  .menu-toggle {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--mobile {
    width: 480px;
  }

  .navigation--mobile {
    display: flex;
    justify-content: space-between;
  }

  .navigation-list {
    display: none;
  }

  .contacts-list {
    display: none;
  }

  .header-box {
    border-bottom: 1px solid $header-border;
  }

  .navigation__logo {
    vertical-align: baseline;
    color: $accent;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation__name {
    color: $logo-text;
    font-family: $fontRaleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666;
  }

  .menu-toggle {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
