$background: #ffffff;
$logo-text: #000000;
$main-h2h3: #212121;
$hero-background: #2f303a;
$main-text: #757575;
$footer: rgba(255, 255, 255, 0.6);
$accent: #2196f3;
$section4-bckgnd: #f5f4fa;
$header-border: #ececec;
$projects-border: #eeeeee;
$icon-unactive: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
$transformY: transform;
$fontRaleway: Raleway;
$fontRoboto: Roboto;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$sroll-color1: #d4aa70;
$sroll-color2: #e4e4e4;
$sroll-color3: #8070d4;
